<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.gti785.lib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".service.PeerService" />
    </application>

</manifest>
